<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>小费实例</h1>
    <h2>星期四五六七平均小费与性别，是否吸烟以及用餐时间的关系</h2>
    <div id="chart" class="chart"></div>
    <div>这张图表示某餐厅客人给小费的因素，每一张图有两部分，代表男性（左）和女性（右），蓝色代表不吸烟，红色代表吸烟，上面的代表午餐，下面代表晚餐。从图中可以看出晚餐给小费的人比较多，不吸烟者一般给的小费比较多，与性别的关系不大。</div>
    <h2>星期四五六七全部小费与吸烟，性别，用餐时间的关系</h2>
    <div id="chart2" class="chart2"></div>
    <div>这张图与直方图有点相似，不同的是，直方图表示的是所有数据的平均值，柱状图表示的每一条的详细数据，比直方图更详细。</div>
    <h2>星期四五六七全部小费的分布情况</h2>
    <div id="chart1" class="chart1"></div>
    <div>箱型图显示一组数据分散情况资料的统计图。蓝色代表不吸烟，红色代表吸烟。该图表示可以最大值、最小值、中位数、上下四分位数以及异常值。比如在星期天不吸烟中有一个异常值达到了48.17，远远大于中位数18.43。箱型图可以反映每组数据的平均数据和异常情况。</div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
<script>
    d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});
</script>
<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
</script>


</html>
