<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>小费实例</h1>
    <h2>星期四五六七平均小费与性别，是否吸烟以及用餐时间的关系</h2>
    <div id="chart" class="chart"></div>
<!--     <h2>星期四五六七小费，全部小费与吸烟，性别，用餐时间的关系</h2>
    <div id="chart2" class="chart2"></div> -->
    <h2>星期四五六七全部小费的分布情况</h2>
    <div id="chart1" class="chart1"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>
<!-- <script>
    d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});
</script> -->
<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
</script>


</html>
