<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="font-family:arial, sans-serif">
    <h1>1952-2007年的各国GDP实例</h1>
    <h2>亚洲，欧洲，非洲，美洲，大洋洲GDP的变化以及他们的比较</h2>
    <div id="chart3" class="chart3"></div>
    <div>该图有五种颜色，蓝色代表亚洲，红色代表欧洲，绿色代表非洲，紫色代表美洲，橙色代表大洋洲；每一个颜色区域的中的一条线代表一个国家，堆积区域图显示每个数值所占大小随时间或类别变化的趋势线，还可以显示部分与整体的关系。</div>
    <h2>1952-2007年的各国GDP的变化</h2>
    <div id="chart" class="chart"></div>
    <div>地理图采用世界地图的方式来展示数据，数值的大小由颜色深浅来表示（紫色-黄色表示由小到大），滑动下面的数轴，即可动态展示每个国家GDP的变化以及它们的比较情况。从图中可以看出，美洲，欧洲和大洋洲的GDP比较高，非洲和亚洲的GDP比较低。</div>
    <h2>五个洲中的国家GDP变化以及它们的比较</h2>
    <div id="chart1" class="chart1"></div>
    <div>这种散点图与一般的散点图有些不同，该图点的大小表示数值的大小，这张图重点表示每个洲国家之间的GDP比较。可以看出亚洲中中国与印度的GDP比较高，美洲中美国和加拿大的GDP较高，欧洲中的好几个国家GDP都差不多。</div>
</body>
<script>
    d3 = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d3, {});
</script>
<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>

<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
</script>

</html>
